<div class="mobile-header">
    <a class="" href="/admin"><img style="height: 40px;" src="/images/gifted_logo.png" alt=""></a>
    <div class="mobile-toggle">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div> 
    </div>
</div>