<aside>
    <div class="top-side">
        <a class="item" href="/admin"><img style="height: 40px;" src="/images/gifted_logo.png" alt=""></a>
        <div class="toggle">
            <div class="first-line menu-bar"></div>
            <div class="second-line menu-bar"></div>
            <div class="third-line menu-bar"></div> 
        </div>
    </div>
    <div class="middle-side">
        <ul>
            <li class="tags">
                <a class="side-link" href="/admin">
                    <span>
                        <img src="/images/tabler-icon-layout-dashboard.png" alt="">
                        <span>Dashboard</span>
                    </span>
                </a>
            </li>
            <li class="tags">
                <a class="side-link" href="/transactions/all">
                    <span>
                        <img src="/images/tabler-icon-access-point.png" alt="">
                        <span>Transactions</span>
                    </span>
                </a>
            </li>
            <li class="tags">
                <a class="side-link" href="/users/all-users">
                    <span>
                        <img src="/images/tabler-icon-address-book.png" alt="">
                        <span>All Users</span>
                    </span>
                </a>
            </li>
            <li class="tags">
                <a class="side-link" href="/admin/setting">
                    <span>
                        <img src="/images/tabler-icon-settings.png" alt="">
                        <span>Settings</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="bottom-side">
        <div class="tags log-out">
            <a class="side-link" href="/logout">
                <span>
                    <img src="/images/tabler-icon-logout.png" alt="">
                    <span>log out</span>
                </span>
            </a>
        </div>
    </div>
</aside>
