<div class="mobile-header">
    <a class="" href="/admin"><img src="/img/logo-img.png" alt=""></a>
    <div class="mobile-toggle">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div> 
    </div>
</div>