<div class="history-table">
    <h2>Quiz Leader Board</h2>
    <% if (transactions.length > 0) { %>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full">
                    <div class="overflow-hidden">
                        <table class="min-w-full text-left text-sm font-light">
                            <thead
                            class="font-medium dark:border-neutral-500 dark:bg-neutral-600">
                                <tr>
                                    <th scope="col" class="px-6 py-4">Name</th>
                                    <th scope="col" class="px-6 py-4">Total Answered</th>
                                    <th scope="col" class="px-6 py-4">Rewards</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% transactions.forEach(function(transaction) { %>
                                    <tr
                                        class="bg-white dark:border-neutral-500 dark:bg-neutral-600" style="background-color: white; padding: 10px;">
                                        <td class="whitespace-nowrap px-6 py-4"><%= transaction.description %></td>
                                        <td class="whitespace-nowrap px-6 py-4"><%= transaction.amount %></td>
                                        <td class="whitespace-nowrap px-6 py-4"><%= transaction.status %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <p>Nobody is topping the list at the moment!</p>
    <% } %>
</div>