<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/coursepage.css">
    <link rel="stylesheet" href="/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Courses | Gifted Brainz</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('../partials/aside') %>

    <section class="flex flex-row w-[100%] gap-5 p-5">
        
        <div class="every">
            <div class="top">
                <div class="head">
                    <h2>Explore Your Preferred Course</h2>
                    <p class="choose">choose your favorite course to acquire, and be the best in your niche.</p>
                </div>

                <div class="head">
                    <h2 style="color: #045089;">Enter classroom</h2>
                    <p class="choose">choose your favorite course to acquire, and be the best in your niche.</p>
                    <button style="padding: 10px 25px; border: 2px solid black; border-radius: 10px; cursor: pointer; background:transparent; margin-top: 10px; font-weight: 600;" onclick="window.location.href='/my-courses'">Click to enter class</button>
                </div>
               
            </div>
            <div class=" allmain" style="padding-top: 20px;">
            <div class="main">
                <div class="all flex">
                    <div class="alltabs1 flex">
                        <div class="tab1">
                            <img src="/images/Rectangle 168.png" width="140" alt="">
                            <h3>Advanced Cryptocurrency</h3>
                            <h2>#20,000</h2>
                            <div class="btns">
                                <form action="                   /course-point-purchase/660157e4494cf1cad660c9b8" method="post">
                                    <button type="submit" class="st">2500PT</button>
                                </form>

                                <form action="/course-wallet-purchase/660157e4494cf1cad660c9b8" method="post">
                                    <button type="submit" class="nd">Enroll With Balance</button>
                                </form>

                            </div>
                        </div>
                        <div class="tab1">
                            <img src="/images/Rectangle 169.png" width="140" alt="">
                            <h3>UI/UX Design</h3>
                            <h2 class="ui">#15,000</h2>
                            <div class="btns">
                                <form action="/course-point-purchase/660159fe494cf1cad660c9d2" method="post">
                                    <button type="submit" class="st">1200PT</button>
                                </form>
                                <form action="/course-wallet-purchase/660159fe494cf1cad660c9d2" method="post">
                                    <button class="nd" type="submit">Enroll With Balance</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab1">
                            <img src="/images/Rectangle 170.png" width="140" alt="">
                            <h3>Front-End Development</h3>
                            <h2>#14,000</h2>
                            <div class="btns">
                                <form action="/course-point-purchase/66015ade494cf1cad660c9d4" method="post">
                                    <button type="submit" class="st">2000PT</button>
                                </form>

                                <form action="/course-wallet-purchase/66015ade494cf1cad660c9d4" method="post">
                                    <button type="submit" class="nd" >Enroll With Balance</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab1">
                            <img src="/images/Rectangle 171.png" width="140" alt="">
                            <h3>Back-End Development</h3>
                            <h2>#15,000</h2>
                            <div class="btns">
                                <form action="/course-point-purchase/66015b8b494cf1cad660c9d6" method="post">
                                    <button type="submit" class="st">2700PT</button>
                                </form>

                                <form action="/course-wallet-purchase/66015b8b494cf1cad660c9d6" method="post">
                                    <button class="nd" type="submit">Enroll With Balance</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="main">
                <div class="ndtop">
                  <h3>History & Health</h3>      
                  <h3>See All...</h3>
                </div>
                <div>
                    <div class="alltabs1 flex">
                        <div class="tab1">
                            <img src="/images/Rectangle 172 (1).png" width="140" alt="">
                            <h3>Skin Care Production</h3>
                            <h2 class="ui">#7,000</h2>
                            <div class="btns">
                                <form action="/course-point-purchase/66015cc4494cf1cad660c9ef" method="post">
                                    <button type="submit" class="st">1700PT</button>
                                </form>
                                <form action="" method="post">
                                    <button type="submit" class="nd">Enroll With Balance</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab1">
                            <img src="/images/Rectangle 173 (1).png" width="140" alt="">
                            <h3>Page Management</h3>
                            <h2 class="ui">#10,000</h2>
                            <div class="btns">
                                <form action="/course-point-purchase/66015d6c494cf1cad660c9f1" method="post">
                                    <button class="st" type="submit">1300PT</button>
                                </form>
                                <form action="/course-wallet-purchase/66015d6c494cf1cad660c9f1" method="post">
                                    <button type="submit" class="nd">Enroll With Balance</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab1">
                            <img src="/images/Rectangle 174.png" width="140" alt="">
                            <h3>True Africa History</h3>
                            <h2 class="ui">#12,000</h2>
                            <div class="btns">
                                <form action="" method="post">
                                    <button type="submit" class="st">200SQP</button>
                                </form>
                                <form action="" method="post">
                                    <button type="submit" class="nd">Enroll With Balance</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab1">
                            <img src="/images/Rectangle 175.png" width="140" alt="">
                            <h3 class="aa">Africa Healing And Herbs Methodology</h3>
                            <h2>#8,000</h2>
                            <div class="btns">
                                <form action="" method="post">
                                    <button type="submit" class="st">200SQP</button>
                                </form>
                                <form action="" method="post">
                                    <button type="submit" class="nd">Enroll With Balance</button>
                                </form>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        </div>
    </section>
</body>
</html>