<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/pay.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay Now</title>
</head>
<body>
    <main>
      <img src="/images/gifted_logo.png" alt="">
      <h2>Make Payment To Continue</h2>
      <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= messages.error %>
        </div>
      <% } %>
      <% if (messages.info) { %>
          <div class="alert alert-info" role="alert">
            <%= messages.info %>
          </div>
      <% } %>

      <form id="paymentForm" method="POST" action="/confirm-payment">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email-address" name="email" value="<%= email %>" required />
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="tel" id="amount" name="amount" value="<%= amount_to_pay %>" disabled required />
        </div>
        <div class="form-submit">
          <button type="submit" class="btn-pay"> Pay Now </button>
        </div>
      </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script>
      const amountField = document.querySelector("#amount")
      const paymentForm = document.getElementById("paymentForm");
      const payBtn = document.querySelector(".btn-pay")
      paymentForm.addEventListener("submit", payWithPaystack, false);
      function payWithPaystack(e) {
        e.preventDefault();
        const amount = Number(document.getElementById("amount").value) * 100
        let handler = PaystackPop.setup({
          key: "pk_test_6ae1163f7dd150c2e030686dc9e948a35cab329f",
          email: document.getElementById("email-address").value,
          amount,
          onClose: function () {
            // alert("Transaction was not completed, window closed.");
          },
          callback: function (response) {
            const reqBody = {
              reference: response.reference,
              amount: document.getElementById("amount").value * 100,
            };
            axios
              .post("/confirm-payment", reqBody)
              .then((response) => {
                console.log(response);
                location.href = '/dashboard'
              })
              .catch((error) => {
                console.log(error?.response?.data || error);
                payBtn.textContent = "Retry Again";
                payBtn.style.cursor = "pointer"
              });
              
          },
          
        });
  
        handler.openIframe();
                payBtn.textContent = "Pay Now";
                payBtn.style.cursor = "pointer"
      }
    </script>
</body>
</html>