<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay To Naira | Receive Money</title>
    <link rel="stylesheet" href="../../css/recieve.css">
</head>
<body>
    <section>
        <div class="all">
            <div>
                <a href=""><img src="../../images/back-to-home.png" alt=""></a>
            </div>
            <div>
                <h1>RECEIVE MONEY</h1>
            </div>
            <div class="account-detail">
                <div>
                    <div class="copied">
                        <h5>Account number</h5>
                        <a href=""><img src="images/copy-icon.png" alt=""></a>
                    </div>
                    <h3>222 000 2222</h3>
                </div>
                <div>
                    <p>Account name</p>
                    <h3>ALIMI MOHAMMED-JAMIU</h3>
                </div>
            </div>
    
            <div class="social">
                <h3>SEND THROUGH SOCIAL MEDIA</h3>
                <div class="social-links">
                    <a href=""><img src="../../images/Group 71.png" alt=""></a>
                    <a href=""><img src="../../images/Group 72.png" alt=""></a>
                    <a href=""><img src="../../images/Group 73.png" alt=""></a>
                    <a href=""><img src="../../images/Group 74.png" alt=""></a>
                </div>
            </div>
            <div>
                <a href=""><button>Continue</button></a>
            </div>
        </div>
    </section>
</body>
</html>