<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GiftedBainz | Account Settings</title>
  <link rel="stylesheet" href="css/aside.css">
  <link rel="stylesheet" href="css/account.css">
  <link rel="icon" type="image/x-icon" href="/images/gifted_logo.png">

</head>

<body>
  <section class="dashboard-container">
    <%- include('../partials/aside') %>
      <!-- mobile dashboard end -->
      <main>
          <div class="dashboard-main-top">
            <h1 style="padding: 20px;">SETTINGS</h1>
          </div>
          <div class="main-setting">
            <div class="first-div">
              <h1 class="text-2xl font-semibold">ACCOUNTS</h1>
              <div class="inner-1">
                <div class="acct-statement">
                  <img src="images/Group 69.png" alt="">
                  <a href="/new/pin">Set new transaction pin</a>
                </div>
                <div class="disactive">
                  <img src="images/Group 70.png" alt="">
                  <a href="/update/pin">Change your transaction pin</a>
                </div>
              </div>
              <div class="social-media">
                <h1>JOIN OUR COMMUNITY</h1>
                <div class="links" style="margin-top: 20px;">
                  <div>
                    <img src="images/Group 71.png" alt="">
                  </div>
                  <div>
                    <img src="images/Group 72.png" alt="">
                  </div>
                  <div>
                    <img src="images/Group 73.png" alt="">
                  </div>
                  <div>
                    <img src="images/Group 74.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="second">
              <h1>ABOUT</h1>
              <div class="inner-1">
                <a href="https://wa.me/+2348135683307" class="acct-statement">
                  <img src="images/Group 76.png" alt="">
                  <h4>Lodge Complaints</h4>
                </a>
                <a href="" class="acct-statement">
                  <img src="images/Group 77.png" alt="">
                  <h4>Terms & Conditions</h4>
                </a>
                <!-- <a href="/support" class="acct-statement">
                  <img src="images/Group 79.png" alt="">
                  <h4>Privacy & Policy</h4>
                </a> -->
              </div>
            </div>
          </div>
      </main>
  </section>


  <script src="js/dashboard.js"></script>
</body>

</html>