<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaytoNaira | Start trading</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/aside.css">
    <link rel="stylesheet" href="/css/PayBills.css">
    <link rel="icon" type="image/x-icon" href="/img/logo-img.png">
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/aside') %>

       <!-- mobile dashboard end -->
        <main>
            <%- include('../partials/mobileHeader') %>
           <div class="dashboard-main-top">
                <h1>TRADE YOUR ASSETS</h1>
           </div>

           <div class="payment">
                <h1>AVAILABLE TRADES</h1>
                <p>What Do You Like To Get Done?</p>
           </div>

           <div class="pay-area">
                <div class="cable">
                    <div class="service">
                        <a href="/trades/paypal">
                            <div class="service-header">
                                <div class="icon">
                                    <span><img class="icon-logo" src="/images/cable_tv.png" alt="Cable bills"></span>
                                    <h1>Paypal</h1>
                                </div>
                                <span class="toggler" role="img"><img src="/images/Arrow 2.png" alt="open"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="cable">
                    <div class="service">
                        <a href="/trades/payoneer">
                            <div class="service-header">
                                <div class="icon">
                                    <span><img class="icon-logo" src="/images/electricity.jpg" alt="Electricity bills"></span>
                                    <h1>Payoneer</h1>
                                </div>
                                <span class="toggler" role="img"><img src="/images/Arrow 2.png" alt="open"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="cable">
                    <div class="service">
                        <a href="/trades/sell-giftcard">
                            <div class="service-header">
                                <div class="icon">
                                    <span><img class="icon-logo" src="/images/exam_pin.jpg" alt="Internet bills"></span>
                                    <h1>Giftcard</h1>
                                </div>
                                <span class="toggler" role="img"><img src="/images/Arrow 2.png" alt="open"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="cable">
                    <div class="service">
                        <a href="/trades/sell-crypto">
                            <div class="service-header">
                                <div class="icon">
                                    <span><img class="icon-logo" src="/images/exam_pin.jpg" alt="Internet bills"></span>
                                    <h1>Cryptocurrency</h1>
                                </div>
                                <span class="toggler" role="img"><img src="/images/Arrow 2.png" alt="open"></span>
                            </div>
                        </a>
                    </div>
                </div>
           </div>
        </main>
    </section>
    <script src="/js/dashboard.js"></script>
    <script>
        
    </script>
</body>
</html>