<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/gifted_logo.png">

    <title>Quiz Completed</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .completion-container {
            background-color: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            text-align: center;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 30px;
            color: #e25151;
        }

        .dashboard-btn {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 12px 24px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
        }

        .dashboard-btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="completion-container">
        <h2>Weekly Quiz Has Ended</h2>
        <p >You have completed this week quiz, until Monday that new quiz starts for weekly user like you.</p>
        <a href="/quiz" class="dashboard-btn">Go Back to Leaderboard</a>
    </div>
</body>
</html>
