*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.blog-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.blog{
    padding-top: 50px;
}

.blog-img-head {
    height: 20px;
}

.blog-head-h3 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin-bottom: 10px;
}

.blog-head-p {
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blog-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
    align-items: center;
    gap: 50px;
    padding: 20px;
}


.inner-blog-post{
         width: 100%;
        border: 0.5px solid #ccc; 
        padding: 10px; 
        border-radius: 10px;
        border-color: #ccc;
        box-shadow: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
}
.inner-blog-post:hover{
    background-color: darkblue;
    cursor: pointer;
    color: white;
}

.date{
    display: flex;
    justify-content: space-between;
}
.blog-content-img{
    display: flex;
    width: 100%;
}
p{
    font-family: sans-serif;
}
b{
    font-family: sans-serif;
}
h2{
    font-family: sans-serif;
}
h3{
    font-family: sans-serif;
}

@media screen and (max-width: 900px){
        .blog-head {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .blog-head-h3 {
            font-size: 36px;
            font-family: Arial, Helvetica, sans-serif;
            width: 80%;
            margin-bottom: 10px;
        }
        
        .blog-head-p {
            width: 80%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
            .blog-head-h3 {
                font-size: 24px;
            }
        
            .blog-head-p {
                font-size: 16px;
            }

            .blog-content{
                grid-template-columns: 1fr;
                align-items: center;
                padding: 20px;
            }
            .inner-blog-post{
                width: 100%;
            }
        }
        

    