*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tab {
    /* overflow: hidden; */
    border: 1px solid #ccc;
    background-color: #045089;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .bill-payer{
    width: 100%;
  }
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: white;
    color: #000;
  }

  .tablinks{
    color: white;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #fafafa;
    color: #000;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* .file-upload-label{
    padding: 5px;
    background-color: blue;
    cursor: pointer;
    color: #ccc;
    margin: 12px;
  } */

  .selling, .available{
    color: green;
    font-size: 22px;
  }

  .buying, .not-available{
    color: red;
    font-size: 22px;
  }

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
  }