<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/tailstyle.css">
    <link rel="stylesheet" href="css/newtail.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="icon" type="image/x-icon" href="/img/logo-img.png">
    <title>GiftedBrainz | About page</title>
</head>
<body>
    <div><%- include('../partials/mobileHeader') %></div>
<!--  -->
    <section class="adore flex flex-col items-center">
        <div class="flex items-center gap-2 mt-20 mb-5">
            <img src="./imgs/Frame 176.png">
            <h3 class="text-navy-blue">About us</h3>
        </div>
        <div class="flex flex-col items-center text-center">
            <h1 class="mb-5 text-4xl w-26">Your Trusted Financial Partner</h1>
            <P class="w-2/5 text-gray-500">GiftedBrainz is the easiest and most secure exchange that allow users to buy and sell their paypal funds, payoneer and gift cards in Nigeria. Anyone in Nigeria or with Nigeria bank details can trade their digital funds and get paid in Naira within minutes.</P>
        </div>
        <img class="mt-32" src="./imgs/Frame 179.png">
    </section>
    <!--  -->
    <section class="form flex p-20 items-center justify-center">
        <div>
            <h3 class="font-black mb-5">Our Story</h3>
            <p class="w-3/5 text-gray-500">In the ever-evolving landscape of finance, GiftedBrainz was 
                born out of a vision to simplify financial transactions and 
                empower individuals and businesses to take control of 
                their finances. Our story is one of innovation, dedication, 
                and a commitment to making financial management more 
                accessible and convenient for everyone...
            </p>
            <div class="flex items-center mt-5">
                <h2><a href="">Contact us</a></h2>
                <img src="./imgs/Rectangle 30.png">
            </div>
        </div>
        <img src="./imgs/Group 22 (2).png">
    </section>
    <section class="form2">
        <div>
            <h3 class="font-black mb-5">Our Mission</h3>
            <p class="w-3/5 text-gray-500">At GiftedBrainz, our mission is to empower individuals and 
                businesses by providing accessible, secure, and versatile 
                financial solutions. We are committed to simplifying 
                financial transactions, unlocking the value of digital assets, 
                and fostering financial freedom for all.
            </p>
            <div class="flex items-center mt-5">
                <h2><a href="">Contact us</a></h2>
                <img src="./imgs/Rectangle 30.png">
            </div>
        </div>
        <img src="./imgs/Group 22 (2).png">

    </section>
    <section class="form3 flex p-20 items-center justify-center">
        <div>
            <h3 class="font-black mb-5">Our Story</h3>
            <p class="w-3/5 text-gray-500">At GiftedBrainz, our vision is to lead the financial industry 
                into a future where financial transactions are borderless, 
                effortless, and universally accessible. We envision a world 
                where individuals and businesses can seamlessly harness 
                the power of their digital assets, making their financial 
                aspirations a reality with utmost convenience.
            </p>
            <p><li class="text-gray-500">Cutting Edge - Innovation</li></p>
            <p><li class="text-gray-500">Financial Empowerment</li></p>
            <p><li class="text-gray-500">Trust and Transparency</li></p>
            <div class="flex items-center mt-5">
                <h2><a href="">Contact us</a></h2>
                <img src="./imgs/Rectangle 30.png">
            </div>
        </div>
        <img src="./imgs/Group 24 (2).png">
    </section>
    <!--  -->
    <section class="along flex flex-col items-center justify-center p-20">
        <div class="flex flex-col items-center justify-center">
            <h2 class="font-black text-2xl mb-5">Our core value</h2>
            <p class="lg:w-2/3 text-gray-500 text-center mb-3">we're dedicated to simplifying financial transactions and unlocking the potential of digital assets.</p>
        </div>
        <section class="bye grid lg:grid-cols-3 lg:p-10 gap-10">
            <div class="">
                <h2 class="font-semibold mb-5">Accessibility</h2>
                <p class="text-gray-500">We believe in financial inclusivity, 
                    ensuring that our services are 
                    user-friendly and accessible to 
                    people from all walks of life.
                </p>
            </div>
            <div class="flex flex-col lg:border-s-4">
                <h2 class="lg:ml-5 font-semibold mb-5">Security</h2>
                <p class="lg:ml-5 text-gray-500">We prioritize the security and 
                    confidentiality of your financial 
                    transactions, employing cutting edge technology to safeguard 
                    your assets
                </p>
            </div>
            <div class="flex flex-col lg:border-s-4">
                <h2 class="lg:ml-5 font-semibold mb-5">Inovation</h2>
                <p class="lg:ml-5 text-gray-500">We are committed to constant 
                    innovation, striving to stay ahead 
                    in the rapidly evolving world of 
                    financial technology.
                </p>
            </div>
            <div class="flex flex-col">
                <h2 class="font-semibold mb-5">Customer-Centric Approach</h2>
                <p class="text-gray-500">Our users are at the heart of our 
                    mission. We provide 24/7 
                    customer support and value 
                    feedback as a means of 
                    continuous improvement
                </p>
            </div>
            <div class="flex flex-col lg:border-s-4">
                <h2 class="lg:ml-5 font-semibold mb-5 ">Transparency</h2>
                <p class="lg:ml-5 text-gray-500">We believe in financial inclusivity, 
                    ensuring that our services are 
                    user-friendly and accessible to 
                    people from all walks of life.
                </p>
            </div>
            <div class="flex flex-col lg:border-s-4">
                <h2 class="lg:ml-5 font-semibold mb-5">Value</h2>
                <p class="lg:ml-5 text-gray-500">We believe in financial inclusivity, 
                    ensuring that our services are 
                    user-friendly and accessible to 
                    people from all walks of life.
                </p>
            </div>
        </section>
    </section>
    <!--  -->
    <section class="moh flex flex-col justify-center items-center bg-navy-blue lg:p-20 text-white mt-20">
        <h3 class="sct text-3xl font-black mb-3">Ready to Experience Financial Freedom?</h3>
        <p>Join GiftedBrainz Today and Start Simplifying Your Transactions!</p>
        <button class="bg-black text-white p-1.5 px-5 mt-5">Get Started</button>
     </section>
     <!--  -->
     <div class="footer p-20 bg-blaq text-white">
        <div class="lg:flex ">
            <div class="foot1">
                <img src="./imgs/Frame 4.png">
                <p class="lg:w-[80%]">GiftedBrainz is the easiest and most secure 
                    exchange that allow users to buy and sell 
                    their paypal funds, payoneer and gift cards 
                    in Nigeria.
                </p>
            </div>
            <div class="foot2 flex flex-col gap-5  w-full ">
                <h3>Quick link</h3>
                <a href="/about-us">About us</a>
                <a href="/contact">Contact</a>
                <a href="/support">Support & FAQ</a>
                <a href="/blog">Blog</a>
            </div>
            <div class="foot3 flex flex-col w-full gap-5">
                <h3>Contact</h3>
                <a href="">info@GiftedBrainz.com</a>
                <a href="">+2347048196779</a>
                <a href="">2 Fatimo Bintu Solebo St, Ikorodu, Lagos 104214, Lagos, Nigeria</a>
            </div>
            <div class="foot4 flex flex-col w-full">
                <h3 class="mb-10">Subscribe to our newsletter</h3>
                <input class="p-4 px-10 rounded-lg" type="email" placeholder="Email address">
                <button class="p-1.5 px-5 bg-navy-blue rounded-lg mt-5 text-white">Subscribe now</button>
            </div>
         </div>
         <div class="lg:flex items-center justify-center gap-10 mt-10 text-white">
            <p>2023 copyright by GiftedBrainz. All right reserved</p>
            <a class="underline" href="/terms-condition">Terms of services</a>
            <a class="underline" href="/privacy">Privacy & Policy</a>
            <div class="social flex gap-3">
                <img src="./imgs/Group 36.png">
                <img src="./imgs/Group 37.png">
                <img src="./imgs/Group 38.png">
                <img src="./imgs/Group 39.png">
            </div>
         </div>
        </div>
        <script>
            function myfunction() {
            var toggle = document.querySelector('.mobilenav__link')
            toggle.classList.toggle('display')
            }
        </script>
   </body>
</html>