<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/gifted_logo.png">
    <title>GiftedBrainz | Forgot Password</title>
    <link rel="stylesheet" href="css/forget.css">
</head>
<body>
    <section>
        <div class="confirm-container">
            <div class="img1"><img src="./img/Group 2.png" alt="">
                <div><h1>GiftedBrainz</h1></div>
            </div>
                <h1>Thank you for requesting a new password</h1>
                <div class="container">
                    <h3>A link to reset your password has been sent to your mail kindly check and reset your password!</h3>
                    <p class="return">Click <a href="/login">here</a> to return back to login page.</p>               
                </div>
               
        </div>
    </section>

</body>
</html>