<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiftedBrainz | Password Reset</title>
    <link rel="stylesheet" href="css/forget.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/SignIn.css">
    <link rel="icon" type="image/x-icon" href="/images/gifted_logo.png">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <section class="footer1">
         <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert">
              <%= messages.error %>
            </div>
        <% } %>
        <% if (messages.info) { %>
            <div class="alert alert-info" role="alert">
              <%= messages.info %>
            </div>
        <% } %>
        <div class="div1">
        <div class="img1"><img src="./img/Group 2.png" alt="">
            <div><h1>GiftedBrainz</h1></div>
        </div>
        </div>
        <section class="footer2">
            <div class="all1">
                <div class="t1">
                    <div class="forget"><h1>Forgot Password</h1></div>
                    <div class="ti1">We help you recover your password</div>
                </div>
                <div class="div2">
                    <div><h5>Email address</h5></div>
                     <form action="/confirmation" method="post" onsubmit="return handleSubmit()">
                        <input type="text" name="email" id="email" class="place" placeholder="e.g example@gmail.com">
                        <div><button type="submit" class="btn1">Continue</button></div>
                    </form>                    
                </div>
            </div>
        </section>
    </section>
    <section class="footer3">
        <div class="all2">
            Don't want to reset password? <div class="tag"> <a href="/login"><h4 class="tagg"> Login Now</h4></a></div>
        </div>
    </section>
</body>
</html>