<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiftedBrainz | Reset Password</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/SignIn.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/gifted_logo.png">

</head>
<body>
    <section>
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert">
              <%= messages.error %>
            </div>
        <% } %>
        <% if (messages.info) { %>
            <div class="alert alert-info" role="alert">
              <%= messages.info %>
            </div>
        <% } %>
        <main>
            <div><img onclick='window.location.href="https://GiftedBrainz.com/"' class="logo" src="/imgz/gifted.png" alt=""></div>


            <div class="second-main">
                <form action="/reset-password/<%= token %>" method="post" onsubmit="return handleSubmit()">
                    <h3>Reset Password</h3>
                    <p>Welcome back! Kindly type in new passwords</p>
                    <div class="fourth-main">
                        <label for="password">New password</label><br>
                        <input type="password" name="password" id="password" placeholder="******"> 
                    </div>

                    <div class="fourth-main">
                        <label for="confirm">Confirm Password</label><br>
                        <input type="password" name="confirm" id="password" placeholder="******"> 
                    </div>
                    <button type="submit">Reset Password</button>
                </form>
            </div>
        </main>
    </section>

    <script src="js/Register.js"></script>
</body>
</html>