<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiftedBrainz | Supports</title>
    <link rel="stylesheet" href="/css/support.css">
    <link rel="icon" type="image/x-icon" href="/img/logo-img.png">
</head>
<body>
    <div><%- include('../partials/mobileHeader') %></div>
    <section class="faq">
        <div class="freq">
            <div class="ask">
                <div class="asked">
                    <h1>Frequently Asked <br>Questions (FAQ)</h1>
                </div>
                <div class="find">
                    <p>Find answers to common queries about GiftedBrainz and <br>our financial services on our FAQ page. If you have <br>questions about exchanges, security, fees, or anything else <br>related to our platform, you'll likely find the information <br>you need right here.</p>
                </div>
                <div class="cont">
                    <img src="./img/FAQ-Frame 159.png" alt="">
                </div>
            </div>
            <div class="quest">
                <img src="./img/FAQ-Group 22.png" alt="">
            </div>
        </div>
        <div class="line">
            <img src="./img/FAQ-Frame 179.png" alt="">
        </div>
        <div class="ssa">
            <div class="sup">
                <div>
                    <h3>24/7 Support</h3>
                </div>
                <div>
                    <p>We are available to attend to your <br>help request or questions 24/7. <br>our actives hour is from 8am - <br>11:59PM Nigerians time (Sunday - <br>Saturday).</p>
                </div>
            </div>
            <div class="tuto">
                <div>
                    <h3>Tutorial Screenshots</h3>
                </div>
                <div>
                    <p>We provide step by step <br>guidelines via screenshots on <br>how to carry out a successful <br>trade on our platform. Our <br>website is mobile-friendly and <br>easy to use.</p>
                </div>
            </div>
            <div class="ans">
                <div>
                    <h3>F.A.Q Answers</h3>
                </div>
                <div>
                    <p>Below this page we have <br>compiled a list of suitable <br>answers to each and every of the <br>common questions from our <br>customers and do not hesitate to <br>ask yours.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="moh flex flex-col justify-center items-center bg-navy-blue lg:p-20 text-white mt-20">
        <h3 class="sct text-3xl font-black mb-3">Ready to Experience Financial Freedom?</h3>
        <p>Join GiftedBrainz Today and Start Simplifying Your Transactions!</p>
        <button class="bg-black text-white p-1.5 px-5 mt-5">Get Started</button>
     </section>
     <!--  -->

     <div class="footer p-20 bg-blaq text-white">
        <div class="lg:flex ">
            <div class="foot1">
                <img src="./imgs/Frame 4.png">
                <p class="lg:w-[80%]">GiftedBrainz is the easiest and most secure 
                    exchange that allow users to buy and sell 
                    their paypal funds, payoneer and gift cards 
                    in Nigeria.
                </p>
            </div>
            <div class="foot2 flex flex-col gap-5  w-full ">
                <h3>Quick link</h3>
                <a href="/about-us">About us</a>
                <a href="/contact">Contact</a>
                <a href="/support">Support & FAQ</a>
                <a href="/blog">Blog</a>
            </div>
            <div class="foot3 flex flex-col w-full gap-5">
                <h3>Contact</h3>
                <a href="">info@GiftedBrainz.com</a>
                <a href="">+2347048196779</a>
                <a href="">2 Fatimo Bintu Solebo St, Ikorodu, Lagos 104214, Lagos, Nigeria</a>
            </div>
            <div class="foot4 flex flex-col w-full">
                <h3 class="mb-10">Subscribe to our newsletter</h3>
                <input class="p-4 px-10 rounded-lg" type="email" placeholder="Email address">
                <button class="p-1.5 px-5 bg-navy-blue rounded-lg mt-5 text-white">Subscribe now</button>
            </div>
         </div>
         <div class="lg:flex items-center justify-center gap-10 mt-10 text-white">
            <p>2023 copyright by GiftedBrainz. All right reserved</p>
            <a class="underline" href="/terms-condition">Terms of services</a>
            <a class="underline" href="/privacy">Privacy & Policy</a>
            <div class="social flex gap-3">
                <img src="./imgs/Group 36.png">
                <img src="./imgs/Group 37.png">
                <img src="./imgs/Group 38.png">
                <img src="./imgs/Group 39.png">
            </div>
         </div>
        </div>
</body>
</html>