<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/terms-condition.css">
    <link rel="icon" type="image/x-icon" href="/img/logo-img.png">
    <title>GiftedBrainz | Terms of Service</title>
</head>
<body>
    <div><%- include('../partials/mobileHeader') %></div>
    <main>
        <div class="alltext">
            <div class="head">
                <h1>Terms of Service</h1>
                <h3>Please read these Terms of Service ("Terms") carefully 
                    before using the services provided by GiftedBrainz. By accessing or 
                    using our services, you agree to be bound by these Terms.</h3>
            </div>
            <br>
            <div class="first">
                <h2>1. Acceptance of Terms</h2>
                <h3>By using GiftedBrainz's services, you agree to comply with and 
                    be bound by these Terms. If you do not agree with any part of these 
                    Terms, please do not use our services.</h3>
            </div>
            <div class="second">
                <h2>2. Desciption of Services</h2>
                <h3>GiftedBrainz provides a platform for the exchange of digital currencies, 
                    including PayPal funds, Payoneer, gift cards, and cryptocurrencies. 
                    We offer a secure and convenient way to facilitate these transactions.</h3>
            </div>
            <div class="third">
                <h2>3. Account Registration</h2>
                <h3>To use our services, you may be required to register for an account. 
                    You agree to provide accurate and complete information during the 
                    registration process. You are responsible for maintaining the 
                    security of your account credentials.</h3>
            </div>
            <div class="fourth">
                <h2>4. Privacy Policy</h2>
                <h3>Your use of GiftedBrainz's services is also governed by our Privacy Policy, 
                    which outlines how we collect, use, and protect your personal information. 
                    Please review our Privacy Policy to understand our practices.</h3>
            </div>
            <div class="fifth">
                <h2>5. User Conduct</h2>
                <h3>You agree not to use our services for any unlawful or prohibited purpose. 
                    You must comply with all applicable laws and regulations when using our 
                    platform.</h3>
            </div>
            <div class="sixth">
                <h2>6. Transactions</h2>
                <h3>GiftedBrainz facilitates digital currency transactions. We aim to provide 
                    competitive rates, but the final rates may vary based on market conditions. 
                    You are responsible for reviewing and accepting the terms of each transaction.</h3>
            </div>
            <div class="seventh">
                <h2>7. Security </h2>
                <h3>We take security seriously and employ industry-standard measures to protect your information. 
                    However, you are responsible for maintaining the security of your account credentials and 
                    any associated devices.</h3>
            </div>
            <div class="eighth">
                <h2>8. Fees</h2>
                <h3>GiftedBrainz charges fees for certain services. These fees may vary based on the type and 
                    amount of the transaction. The specific fees are detailed on our platform.</h3>
            </div>
            <div class="ninth">
                <h2>9. Termination of Services</h2>
                <h3>We reserve the right to terminate or suspend your account and access to our services at 
                    our discretion, with or without cause.</h3>
            </div>
            <div class="tenth">
                <h2>10. Limitation of Liability</h2>
                <h3>GiftedBrainz is not liable for any direct or indirect damages, losses, or expenses arising 
                    from the use of our services.</h3>
            </div>

        </div>
    </main>
    <section class="moh flex flex-col justify-center items-center bg-navy-blue lg:p-20 text-white mt-20">
        <h3 class="sct text-3xl font-black mb-3">Ready to Experience Financial Freedom?</h3>
        <p>Join GiftedBrainz Today and Start Simplifying Your Transactions!</p>
        <button class="bg-black text-white p-1.5 px-5 mt-5">Get Started</button>
     </section>
     <!--  -->

     <div class="footer p-20 bg-blaq text-white">
        <div class="lg:flex ">
            <div class="foot1">
                <img src="./imgs/Frame 4.png">
                <p class="lg:w-[80%]">GiftedBrainz is the easiest and most secure 
                    exchange that allow users to buy and sell 
                    their paypal funds, payoneer and gift cards 
                    in Nigeria.
                </p>
            </div>
            <div class="foot2 flex flex-col gap-5  w-full ">
                <h3>Quick link</h3>
                <a href="/about-us">About us</a>
                <a href="/contact">Contact</a>
                <a href="/support">Support & FAQ</a>
                <a href="/blog">Blog</a>
            </div>
            <div class="foot3 flex flex-col w-full gap-5">
                <h3>Contact</h3>
                <a href="">info@GiftedBrainz.com</a>
                <a href="">+2347048196779</a>
                <a href="">2 Fatimo Bintu Solebo St, Ikorodu, Lagos 104214, Lagos, Nigeria</a>
            </div>
            <div class="foot4 flex flex-col w-full">
                <h3 class="mb-10">Subscribe to our newsletter</h3>
                <input class="p-4 px-10 rounded-lg" type="email" placeholder="Email address">
                <button class="p-1.5 px-5 bg-navy-blue rounded-lg mt-5 text-white">Subscribe now</button>
            </div>
         </div>
         <div class="lg:flex items-center justify-center gap-10 mt-10 text-white">
            <p>2023 copyright by GiftedBrainz. All right reserved</p>
            <a class="underline" href="/terms-condition">Terms of services</a>
            <a class="underline" href="/privacy">Privacy & Policy</a>
            <div class="social flex gap-3">
                <img src="./imgs/Group 36.png">
                <img src="./imgs/Group 37.png">
                <img src="./imgs/Group 38.png">
                <img src="./imgs/Group 39.png">
            </div>
         </div>
        </div>
</body>
</html>