<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To GiftedBrainz Platform!</title>
    <link rel="stylesheet" href="/css/email.css">
    <link rel="icon" type="image/x-icon" href="/images/gifted_logo.png">

</head>
<body>

    <section class="email-container">

        <h1>Dear <%= name %> Welcome to GiftedBrainz, your gateway to earning daily funds! 🌟</h1>

        <p>We're thrilled to have you on board as a newly registered user. At GiftedBrainz, we understand the importance of flexibility and convenience when it comes to making money legitimately online. Whether you have a digital skills or not, we've got you covered.</p>

        <p>Our platform is designed with your needs in mind, making it effortless to learn a new skill very quickly and also earns money alongside, putting the power of your finances back in your hands.</p>

        <h2>Here's what you can expect as a member of our vibrant community:</h2>
        <ol>
            <li>✨ Learn a digital skills with our experts at affordable prices</li>
            <li>✨ Daily earnings when you participate in quizz</li>
            <li>✨ Friendly and responsive customer support</li>
            <li>✨ A wide range of supported payment options</li>
        </ol>

        <p>Start exploring all that GiftedBrainz has to offer today. Your financial freedom awaits! If you ever have questions or need assistance, our dedicated team is here to assist you every step of the way.</p>

        <p>Thank you for choosing GiftedBrainz. We look forward to being your trusted partner on your financial journey.</p>

        <p>Warm regards, <br>
        The GiftedBrainz Team 🚀</p>

    </section>
    
</body>
</html>